{% extends "base.html" %}


{% block title %}
{{ title }}
{% endblock %}


{% block body %}

<div class="row m-3">
    <div class="col-2">
        <div class="list-group">
            {% for gaz_pipeline in gaz_pipelines %}
            <a href="{% url 'filter_violations' gaz_pipeline.pk %}" class="list-group-item list-group-item-action">{{ gaz_pipeline }}</a>
            {% endfor %}
        </div>

    </div>
    <div class="col">
        {% for violation in violations %}
        <div class="card">
            <div class="card-header">
                Дата устранения: {{violation.date_elimination}}
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-3">
                        <img src="{{ violation.photo_violation_phumbnail.url }}" class="img-fluid" alt="{{ violation.photo_violation_phumbnail.url }}">
                    </div>
                    <div class="col">
                        <h5 class="card-title">{{violation.object}} {{ violation.gas_pipeline }}</h5>
                        <p class="card-text">{{ violation.text_violation }}</p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

</div>
{% endblock %}




